### What is Python?

Python is a programming language used to create programs to solve business requirements. Through Python, we can make programs which can
- extract data from websites
- download data files from websites
- prepare data for analysis
- create visualizations/reports
- upload data from files onto company servers
- create machine learning applications
- create a comprehensive program which can do all of these things

### Why use Python?
- supported across different platforms
- allows creating optimized solutions to our requirements without extra features
- easier to learn than Java or C because of easier syntax
- has a lot of open source libraries/packages/modules which contain code that we can use to develop our solution without coding a lot

### Using Jupyter Notebook
Jupyter Notebook is an program which allows us to develop Python programs. It has an easy interface, making program development effortless.

To write Python programs in Jupyter Notebook, we first need to start Jupyter Notebook. This can be found in the Anaconda menu.

![Image](https://miro.medium.com/v2/resize:fit:1200/1*CrzFvh-ha0mkhUrA3q786A.png)

After clicking on `Launch`, Jupyter Notebook will start in your default browser.
![Image](https://d1rwhvwstyk9gu.cloudfront.net/2019/10/jupyter_home_page.png)

We will now create a new folder to store the scripts we write in our sessions.
- In this interface, click on `New` > `Folder`
- We will then a give name to this folder<br>
![Image](https://imagingsolution.net/wordpress/wp-content/uploads/2017/05/Jupyter-Notebook-Make-New-Program_1.png)
<br>
- Once the folder is created and renamed, we will double-click on it, to open the folder.
- In the new folder, we will create a new Python notebook in Jupyter where we will write our code.
  Click on `New` > `Python 3 (ipykernel)` or `Python 3` (under Notebooks)<br>
![Image](https://cdn.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:1000/https://www.filepicker.io/api/file/7YXo1ZGTLiOKHJshJpWy)
<br>
- This will open a new tab, which is our new Jupyter Notebook, where we will write our code.<br>
![Image](https://files.realpython.com/media/02_new_notebook.015b2f84bb60.png)
  You can rename this notebook by clicking on `Untitled`
![Image](https://www.earthdatascience.org/images/courses/earth-analytics/bootcamp/jupyter-interface/rename-existing-notebook.png)


Jupyter Notebook allows us to break down our Python script into blocks. Each code block is contained in a cell.
![Image](https://files.realpython.com/media/02_new_notebook.015b2f84bb60.png)<br>
This allows us to write and debug our script easily.

When the cell does not display a blinking cursor, it is in `Select` mode, we cannot write code in it. To write code in a selected cell, we press `Enter` on the selected cell.

## Jupyter Notebook Shortcuts
`Ctrl` + `Enter`: run selected cell<br>
`Shift` + `Enter`: run selected cell and add a new cell below it (or go to the next cell)<br>
`Ctrl` + `/`: commenting out selected statement

Cells can be run in both `Select` mode and `Edit` mode.

The follwoing shortcuts only work if the cell is in `Select` mode:<br>
`A`: add cell above current cell<br>
`B`: add cell below current cell<br>
`X`: delete current cell

## Symbols in Python
There are a lot of symbols used in Python, each of which has a name and a purpose:<br>
|Symbol|Name|Location|Purpose|
|---|---|---|---|
|~|Tilde|should be next to `1` key, use `Shift`+ `key` to enter it|can be used as a not operator|
|&|Ampersand|should be with the `7` key, use `Shift` + `7` key to enter it|used as AND operator|
|*|Asterisk|should be with `8` key, use `Shift` + `8` key to enter it|used as multiplication operator or placeholder|
|()|Round Brackets|should be with `9` and `0` key respectively, use `Shift` + `9`/`0` to enter it||
|{}|Curly Brackets|should be near `Backspace` key, use `Shift` + `key` to enter it||
|[]|Square Brackets|should be near `Backspace` key||
|`\|`|Pipe|should be near `Backspace` key, use `Shift`+`key`|can be used as OR operator|
|`\`|Backslash|should be near `Backspace` key||
|/|Forward slash|should be near `Shift` key||
|:|Colon|should be near `Enter` key, use `Shift`+`key`|used to start a new scope in script|
|;|Semicolon|should be with `colon` key||
|'|Apostrophe|should be near `Enter` key|used for strings|
|"|Quote|should be near `Enter` key, use `Shift`+`key` to enter|used for strings|
|#|Hash|should be with `3` key, use `Shift`+`3` to enter|used for single line comments|

### Python Programming Rules
1. Python is case-sensitive<br>
   `puneet` is not the same as `PUNEET` or `Puneet` or `pUnEeT`

In [1]:
'puneet' == 'PUNEET'

False

In [2]:
'puneet' == 'Puneet'

False

In [3]:
myname = 'Puneet'
print(MyName)

NameError: name 'MyName' is not defined

2. Variable names cannot start with numbers or special characters<br>
   `1variable`, `!variable`, etc. -> invalid variable name

In [4]:
1name = 'Puneet'

SyntaxError: invalid decimal literal (958200670.py, line 1)

In [5]:
$salary = 29000

SyntaxError: invalid syntax (3903601166.py, line 1)

3. Variable names cannot contain space or special characters (except for `_` (underscore))<br>
   `name 1`, `first name`, `name@`, etc. -> invalid variable name<br>
   `name_1`, `first_name`, etc. -> valid variable name

In [6]:
first name = 'Puneet'

SyntaxError: invalid syntax (2229490955.py, line 1)

In [7]:
name(1) = 'Puneet'

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (321148552.py, line 1)

In [8]:
first_name = 'Puneet'

In [9]:
name1 = 'Puneet'

4. Python keywords cannot be used as variable names.<br>
   These keywords are: `False`, `None`, `True`, `and`, `as`, `assert`, `async`, `await`, `break`, `class`, `continue`, `def`, `del`, `elif`, `else`, `except`, `finally`, `for`, `from`, `global`, `if`, `import`, `in`, `is`, `lambda`, `nonlocal`, `not`, `or`, `pass`, `raise`, `return`, `try`, `while`, `with`, `yield`<br>
   When you type a keyword in Jupyter Notebook (or any other IDE), it is highlighted.

In [10]:
def = 10

SyntaxError: invalid syntax (3594483855.py, line 1)

5. spaces don't make a lot of difference, but should be used appropriately to make the code readable<br>
   We can write an entire Python script without using multiple lines, but using semi-colon to separate statements<br>

In [11]:
print('hello');           print('world')
# this makes the code difficult to read

hello
world

In [12]:
# we should write code properly
print('hello')
print('world')

hello
world

6. `''` and `""` are interchangeable, but should not be mixed<br>
   `'Puneet'` and `"Puneet"` - valid<br>
   `'Puneet"` - invalid

To make things simple, we use either one of apostrophe or double-quotes.
- It is easier to use apostrophes since we don't have to press `Shift`, for double-quotes we need to press `Shift`
- Double quotes are useful if our string contains apostrophe in it.

In [13]:
# for example, in Superstore orders table, there is a customer whose name is Jas O'Carroll
name = 'Jas O'Carroll'

SyntaxError: unterminated string literal (detected at line 2) (2502832355.py, line 2)

In [14]:
# specifying this customer's name in single quotes gives an error because python thinks that the string ends after 'O'
# we can instead use double-qoutes here
name = "Jas O'Carroll"

In [15]:
# we can also use a backslash before the apostrophe in the name to tell Python to ignore this apostrophe
# this can be a bit inconvenient
name = 'Jas O\'Carroll'

7. Variable names should be
   - easy to understand and use
   - not too long

In [16]:
name = 'Puneet'
# this is a valid variable name, but can be confusing in a script because name can mean full name or something else

In [17]:
first_name_of_superstore_customer = 'Puneet'
# this is also a valid variable name but can be too long and confusing to use in a script

In [18]:
f_name = 'Puneet'
# this is a valid variable name, but can be confusing in a script

In [19]:
name_1 = 'Puneet'
# this is valid variable name, but can be confusing in a script

In [20]:
first_name = 'Puneet'
# this is an example of a good variable name because first name would generally mean the first name of a person and
# it is also not very long or confusing

In [21]:
# Python supports polymorphism which simply means that one thing can do multiple things
# for example, + over here can add to numbers
var_1 = 1 + 1
var_1

2

In [22]:
# but + can also be used for concatenating strings
first_name = 'Puneet'
last_name = 'Kumar'
full_name = first_name + ' ' + last_name
full_name

'Puneet Kumar'

In [31]:
# but polymorphism can also lead to errors
# for example,
first_name = input('Enter first name: ')

TypeError: 'str' object is not callable

In [32]:
# in the above script, input() is used as a function to get input from a user
print(first_name)

In [33]:
# but we can also create a variable named input
input = 'Puneet Kumar'
print(input)

Puneet Kumar

In [34]:
# this will make Python forget that input is a function in this script
last_name = input('Enter last name: ')

TypeError: 'str' object is not callable

### Choose an appropriate, easy to understand, write and use variable name.

## Variables
Variables are used in a program to use dynamic literal values without modifying the code a lot.

In [35]:
# this code checks whether a number is even or odd
if 6 % 2 == 0:
    print('6 is even')
elif 6 % 2 != 0:
    print('6 is odd')

6 is even

### This code works well for the number 6, because it is hard-coded (the actual value to be used is written in the code). If we wanted to check another number, we will have to manually replace 6 wherever it is written.

In [36]:
# this code checks whether a number is even or odd
if 9 % 2 == 0:
    print('9 is even')
elif 9 % 2 != 0:
    print('9 is odd')

9 is odd

### The problem with this is not only that we need to manually replace the number in the code, but also, in fully developed programs, the code is not modified at all. The code remains the same, but the values used in the code change. To use dynamic values in the code, we use variables.

### Variable is simply an identifier (a word) which stores a value in it, that can be used in the code. In Python, all variables are objects. Objects are a type of programming construct which store information about a value, along with the value.

### For example, the name of a person is a variable. But when you hear a person's name, your mind remembers that person along with a lot of other details (like your last conversation, where you met them, their age, gender, qualifications, etc.). Similarly in Python, when we create a variable, we not only assign values to it, but Python also stores other details about that value. These details are called attributes of the object.

In [37]:
# modifying the above code by adding a variable to it
age = 13

In [38]:
if age % 2 == 0:
    print('Even')
elif age % 2 != 0:
    print('Odd')

Odd

In [39]:
# let's try to print the same message in this code as our previous code
if age % 2 == 0:
    print('age is even')
elif age % 2 != 0:
    print('age is odd')

age is odd

### We want to display the the value of age instead of the name of the variable. But when we write anything between apostrophes/quotes, Python considers it as a string. There are multiple ways to insert the value of a variable into a string. The simplest way to do it is using `f-strings` (formatted strings).

In [40]:
# f-string is a feature in Python which allows inserting the value of a variable into a string, while using the variable name.
# SYNTAX:
# f'string part {variable} string part'
name = 'Puneet'
print('My name is name.')

My name is name.

In [41]:
print(f'My name is {name}.')

My name is Puneet.

In [42]:
if age % 2 == 0:
    print(f'{age} is even')
elif age % 2 != 0:
    print(f'{age} is odd')

13 is odd

### Let's try to understand this program.
```
age = 9
if age % 2 == 0:
    print(f'{age} is even')
elif age % 2 != 0:
    print(f'{age} is odd')
```

```
age = 9
```

### In this statement, we are assigning the literal value `9` to the variable `age`. Before using a variable, we need to define it. Here, we are using the simple assignment operator `=` to assign the value `9` to variable `age`.

```
if age % 2 == 0:
```

### In this statement, we are using a conditional statement construct. In Python, conditional statements start with the keyword `if`. We are telling Python, to test the value of `age`. The test is whether `age` is divisible by `2` or not. This test is done using two operators:
#### 1. an arithmetic (mathematical) operator, `%` (`modulus` or `mod`)<br>2. a comparison (relational) operator, `==` (`equality`)

### The test is simply that if the remainder of `age` when divided by `2` is `0`, then print that the value is even.<br>Notice how we have ended this statement with a `:`; this tells Python to run the code after this `:` only if the test passes. If the test fails, don't run the code after `:`.

```
    print(f'{age} is even')
```

### This statement is simply an f-string which prints the value of age with the string '` is even`'.<br>Notice how there is some space before `print`. This space tells Python that the code should only run if the test before this statement passes. This is called an `indented block`. With conditional statements, indentation is very important. Any code that needs to be run only if the above condition is true, should belong to the same indentation.

```
elif age % 2 != 0:
```

### This statement is specifying our next test to Python. The test is to check whether the remainder of `age` when divided by `2` is not zero. Here we are using a new comparison operator: `!=` (not equal to). When we want to specify multiple tests/criteria in conditional statements, we start the structure with an `if`, and the remaining criteria are specified using `elif`. This statement is only run if the criteria above it fails. Notice how there is no indentation before `elif`. This is because the condition we want to check should be run if the condition above this statement fails. Here also we are using `:` to specify the start of a block of code, which should be run only when this criteria passes.

```
    print(f'{age} is odd')
```

### Similar to the age is even statement, this statement has an indentation (meaning that it belongs the `elif` block). Instead of printing 'age is even', this statement prints 'age is odd'.

## Operators
There are many types of operators in Python, which are used for different reasons. They are categorised based on some common application.

### Arithmetic/Mathematical Operators
These are the group of operators which perform mathematical operations.

| Symbol | Operation |
| --- | --- |
| + | addition |
| - | subtraction |
| * | multiplication |
| / | division |
| % | modulus/remainder |
| // | integer division |
| ** | exponentiation (raised to the power) |

### Comparison/Relational Operators
These are the group of operators which compare two values (compares LHS to RHS).

| Symbol | Operation |
| --- | --- |
| > | greater than |
| >= | greater than or equal to |
| < | less than |
| <= | less than or equal to |
| == | equal to |
| != | not equal to |

#### Notice how the operator for `equal to` is `==` and not `=`. This is because `=` is an assignment operator.

### Assignment Operators
These are the group of operators which perform mathematical operations to the variable on the LHS and assign it the new value.

| Symbol | Operation | Usage | Same as Writing |
| --- | --- | --- | --- |
| = | assigns the value on the RHS to the variable in LHS |||
| += | addition; add value to the variable | a += n | a = a + n |
| -= | subtraction; subtract value from the variable | a -= n | a = a - n |
| *= | multiplication; multiply the variable | a *= n | a = a * n |
| /= | division; divide the variable | a /= n | a = a / n |
| %= | modulus/remainder; assign the remainder of the value | a %= n | a = a % n |
| //= | integer division; assign the quotient of integer division | a //= n | a = a // n |
| **= | exponentiation (raised to the power) | a **= n | a = a ** n |

### Logical Operators
These are the group of operators which perform a logical operation on the operands.

| Keyword | Meaning |
| --- | --- |
| and | both LHS and RHS must be true (for example, LHS = 1, RHS = 1 $\implies$ True, but LHS = 2 and RHS = 1 $\implies$ False|
| or | either one or both the sides must be true, LHS = (2 > 3) and RHS = (4 > 1) $\implies$ LHS = `False` and RHS = `True`, so `LHS or RHS` will be true|
| not | LHS is not the same as RHS; for example, 'p' not in 'Kumar' will give `True` |

AND

| LHS | RHS | Result |
| --- | --- | --- |
| False | False | False |
| False | True | False |
| True | False | False |
| True | True | True |

OR

| LHS | RHS | Result |
| --- | --- | --- |
| False | False | False |
| False | True | True |
| True | False | True |
| True | True | True |

NOT

| Operand | Result |
| --- | --- |
| False | True |
| True | False |

## Functions and Methods
A function is a group of statements, which can be used multiple times in a script without having to write the entire code (wrapped in the function) again and again. This makes the code easier to use and read.
- Python contains a lot of predefined functions, such as: `print()`, `type()`, `input()`, `len()` etc.
- if there is some code that we want to use again and again in our script, we can wrap those statements in a user-defined function

Methods are similar to functions, but they are only defined for a specific object. Functions are general-purpose and can be used with any type of object, methods cannot be used with every object because they are not defined for every object.

In [43]:
full_name = 'Puneet Kumar'
age = 28

In [44]:
type(full_name)

str

In [45]:
type(age)

int

In [46]:
print(full_name)

Puneet Kumar

In [47]:
print(age)

28

In [48]:
print(full_name, age)

Puneet Kumar 28

In [49]:
type(full_name, age)

TypeError: type() takes 1 or 3 arguments

In [50]:
full_name.upper()

'PUNEET KUMAR'

In [51]:
age.is_integer()

True

In [52]:
full_name.split(' ')

['Puneet', 'Kumar']

In [53]:
type(full_name.split(' '))

list

In [54]:
num_1 = 3

In [55]:
data_type_num_1 = type(num_1)

In [56]:
data_type_num_1

int

In [57]:
print_num_1 = print(num_1)

3

In [58]:
print_num_1

In [59]:
type(data_type_num_1)

type

In [60]:
type(print_num_1)

NoneType

### Syntax for creating functions
```
def function_name():
    function body
```

In [61]:
def user_greeting():
    user_name = input('Enter your full name: ')
    print(f'Hi {user_name}!')

In [62]:
user_greeting()

TypeError: 'str' object is not callable

In [63]:
type(user_greeting())

TypeError: 'str' object is not callable

In [64]:
def user_name():
    name = input('Enter your full name:')
    return name.split(' ')[0], name.split(' ')[-1]

In [65]:
user_name()

TypeError: 'str' object is not callable

In [66]:
type(user_name())

TypeError: 'str' object is not callable