In [1]:
full_name = 'Puneet Kumar'

In [2]:
# fetching number of characters in a string
len(full_name)

12

### `len()` function

#### `len()` is a general function in the Python standard library (we don't need to import any library to use it) which returns the length/magnitude of an object.

In [7]:
# using in operator with strings
'Kumar' in full_name

True

In [8]:
'Sachin' in full_name

False

### `in` operator
#### `in` is a keyword operator which simply checks whether the value in the RHS contains the value in the LHS

### Indexing in Python
#### Python supports indexing in iterable objects, which allows us to access a part (or subset) of the object. Mostly, syntax for indexing is similar across Python. Indexing starts with 0.

#### For example, in the string literal stored in the variable `full_name`, `'P'` is the first letter, `'u'` is the second letter, etc. But for Python (and most programming languages), `'P'` is the zeroth letter, `'u'` is the first letter, etc.

| String | Human Position | Computer Position | Negative Index |
| --- | --- | --- | --- |
| `P` | 1 | 0 | -12 |
| `u` | 2 | 1 | -11 |
| `n` | 3 | 2 | -10 |
| `e` | 4 | 3 | -9 |
| `e` | 5 | 4 | -8 |
| `t` | 6 | 5 | -7 |
| ` ` | 7 | 6 | -6 |
| `K` | 8 | 7 | -5 |
| `u` | 9 | 8 | -4 |
| `m` | 10 | 9 | -3 |
| `a` | 11 | 10 | -2 |
| `r` | 12 | 11 | -1 |

#### Indexing can be done by using square-brackets (`[]`) with the iterable object. Within the square-brackets, we specify the position of the part that we want.

In [9]:
full_name[0]

'P'

#### When we specify only one number, we only fetch a single part of the iterable object

In [11]:
full_name[:6]

'Puneet '

#### When we specify the index with a number after a colon, we fetch the parts of the iterable up to, but not including, that position.<br><br>Python understands `full_name[:6]` as `full_name[0:6:1]`

In [16]:
full_name[6:13]

' Kumar'

#### We can also specify Python, to skip an iteration by passing an increment value.

In [17]:
# fetching every second letter in full_name from start to end
full_name[0:12:2]

'Pne ua'

#### Index Notation: `iterable[start:stop:increment]`

#### We can also use negative indices to fetch the values of an iterable from the end.

In [9]:
full_name[-1]

'r'

In [10]:
full_name[-3]

'm'

In [11]:
full_name[:-1]

'Puneet Kuma'

In [18]:
# and we can use negative increment value to reverse a string
full_name[::-1]

'ramuK teenuP'

In [19]:
# lower() method is used to convert the string to lower case
full_name.lower()

'puneet kumar'

In [20]:
# upper() method is used to convert the string to upper case
full_name.upper()

'PUNEET KUMAR'

In [23]:
# find() method is used to return the index of the character that we specify
full_name.find(' ')

6

In [24]:
# using find method to fetch the first name and the last name from full name
full_name = 'Puneet Kumar'
first_name = full_name[:full_name.find(' ')]
first_name

'Puneet'

In [26]:
# here we specify full_name.find(' ') + 1, instead of full_name.find(' ')
# because we want to fetch all the characters after index of space
last_name = full_name[full_name.find(' ') + 1:]
last_name

'Kumar'

In [27]:
# rewriting the above code with variables to make it more readable
space_index = full_name.find(' ')
first_name = full_name[:space_index]
last_name = full_name[space_index + 1:]
print(first_name, last_name)

Puneet Kumar

#### In a Jupter Notebook, if we write an expression or a variable name at the end of the cell, it displays the result or value of the variable in the output.

In [28]:
365 / 12

30.416666666666668

In [29]:
full_name

'Puneet Kumar'

In [34]:
first_name
# last_name
# full_name

1

#### This is not a reliable way to display values in the Jupyter Notebook. Instead, we use the `print()` function to display values.

In [36]:
print(first_name)
1+2
print(last_name)
b = 7+3

print(full_name)
b

Puneet
Kumar
Puneet Kumar

10

In [38]:
def name_splitter(full_name):
    space_index = full_name.find(' ')
    first_name = full_name[:space_index]
    last_name = full_name[space_index + 1:]
    return first_name, last_name

In [39]:
name_splitter(full_name)

('Puneet', 'Kumar')

In [42]:
new_full_name = 'Harshvardhan Kumar Singh Barodia'
name_splitter(new_full_name)

('Harshvardhan', 'Kumar Singh Barodia')

#### Clearly, our `name_splitter()` function only works well with full names which are made of two words, or in terms of Python, only for strings which have only one ` ` delimiting the name.

In [43]:
# to make a more reliable name splitter, we can use the split() method
def name_splitter(full_name):
    delimiter = ' '
    name_list = full_name.split(delimiter)

    return name_list[0], name_list[-1]

In [44]:
full_name = 'Puneet Kumar'
name_splitter(full_name)

('Puneet', 'Kumar')

In [45]:
full_name_2 = 'Stefani Joanne Angelina Germanotta'
name_splitter(full_name_2)

('Stefani', 'Germanotta')

In [49]:
# what if in our dataset, names are delimited by ',' instead of space
full_name_3 = 'Kumar,Puneet'
name_splitter(full_name_3)

('Kumar,Puneet', 'Kumar,Puneet')

In [50]:
# we need a way to sepcify a delimiter so that this function is more general purpose
# we can do this by specifying a default argument in our function definition
def name_splitter(full_name, delimiter = ' '):
    first_name = full_name.split(delimiter)[0]
    last_name = full_name.split(delimiter)[-1]
    return first_name, last_name

In [51]:
name_splitter(full_name)

('Puneet', 'Kumar')

In [52]:
name_splitter(full_name_3, delimiter=',')

('Kumar', 'Puneet')

In [33]:
name_splitter(full_name_2)

('Stefani', 'Germanotta')

### Tuples

Tuples are ordered collection of values that cannot be modified.
- `collection of values`: it can store more than one value
- `ordered`: means that an index value is fixed for each value in the tuple
- `cannot be modified`: we cannot change the value at an index in the tuple, or add values to the tuple after it is defined
- denoted by `()`
- can store any type of data

In [54]:
bio_1 = ('Puneet Kumar', 28, 7.5)
bio_1

('Puneet Kumar', 28, 7.5)

In [57]:
# since a tuple is ordered, we can use indexes to access specific values in the tuple
bio_1[2]

7.5

In [58]:
# but since tuples cannot be modified, we cannot overwrite a value at an index
bio_1[0] = 'Sachin Gupta'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuples support only two methods
# tuple_obj.count(value) - returns the number of times value occurs in tuple_obj
bio_1.count('Puneet Kumar')

In [ ]:
# tuple_obj.index(value) - returns the first index of value in tuple_obj 
bio_1.index(28)

In [59]:
bio_2 = (28, 28, 3, 27)
bio_2.index(28)

0

In [61]:
len(bio_1)

3

### We can check whether a value is in a tuple or not using the in operator

In [62]:
28 in bio_2

True

In [63]:
10 in bio_2

False

### Lists
Lists are an ordered collection of values that can be modified.
- `collection of values`: can store multiple objects of any data type
- `can be modified`: we can overwrite a value at a specific index
- `ordered`: each value in a list has a fixed index/position
- denoted by `[]`

In [65]:
subjects = ['Alteryx', 'Python', 'SQL', 'Tableau', 'Power BI']

In [66]:
subjects

['Alteryx', 'Python', 'SQL', 'Tableau', 'Power BI']

In [67]:
subjects[0] = 'SAS'
subjects

['SAS', 'Python', 'SQL', 'Tableau', 'Power BI']

In [68]:
bio = ['Puneet Kumar', 28, ['Alteryx', 'Python'], 7.5]
bio

['Puneet Kumar', 28, ['Alteryx', 'Python'], 7.5]

In [69]:
bio[0]

'Puneet Kumar'

In [70]:
bio[1]

28

In [71]:
bio[2]

['Alteryx', 'Python']

In [72]:
bio[3]

7.5

In [73]:
# multiple indices: in our list, the 3rd value is a list of subjects
bio[2]

['Alteryx', 'Python']

In [74]:
# what if we want to access a specific subject in this list of subjects
# (e.g. second subject)?
# this can be done by specifying the index of that subject (e.g. 1),
# within the index of the list in bio
bio[2][0]

'Alteryx'

In [76]:
len(bio)

4

In [79]:
# reverse a list
bio[::-1]

[7.5, ['Alteryx', 'Python'], 28, 'Puneet Kumar']

In [80]:
bio

['Puneet Kumar', 28, ['Alteryx', 'Python'], 7.5]

In [81]:
# we can also use list_obj.reverse() to reverse the order of a list
# but this will overwrite the original list
bio.reverse()

In [82]:
bio

[7.5, ['Alteryx', 'Python'], 28, 'Puneet Kumar']

In [83]:
# list_obj.count(value) returns the number of times value is specified in list_obj 
bio.count(28)

1

In [84]:
# list_obj.index(value) returns the first index of value in list_obj
bio.index(28)

2

In [85]:
# list_obj.append(value) is used to add value to list_obj
bio.append('male')
bio

[7.5, ['Alteryx', 'Python'], 28, 'Puneet Kumar', 'male']

In [86]:
# let's say we want to add elements from another list to a list
skills = ['Data Analysis', 'Machine Learning Engineer', 'Business Analysis']

In [87]:
bio.append(skills)
bio

[7.5,
 ['Alteryx', 'Python'],
 28,
 'Puneet Kumar',
 'male',
 ['Data Analysis', 'Machine Learning Engineer', 'Business Analysis']]

#### When we use append() to add values to a list, those values are added as a single element.

In [88]:
# we can also combine lists using +
x = [1, 2, 3]
y = [4, 5, 6]
x + y

[1, 2, 3, 4, 5, 6]

In [89]:
# let's try removing skills from our list
# this can be done using the list_obj.remove() method
bio.remove(skills)
bio

[7.5, ['Alteryx', 'Python'], 28, 'Puneet Kumar', 'male']

In [121]:
# let's try adding the values in skills as individual elements to bio
bio.extend(skills)
bio

[7.5,
 ['Alteryx', 'Python'],
 28,
 'Puneet Kumar',
 'male',
 'Data Analysis',
 'Machine Learning Engineer',
 'Business Analysis']

1. Create a new list (bio) with the following elements:
    1. Full name
    2. Age
    3. list of 3 skills
2. Try to add 2 new skills to the list of skills in bio

In [122]:
bio = ['Puneet Kumar', 28, ['Coding', 'Baking', 'Learning']]
bio

['Puneet Kumar', 28, ['Coding', 'Baking', 'Learning']]

In [123]:
new_skills = ['Driving', 'Problem-solving']
bio[2].extend(new_skills)
bio

['Puneet Kumar',
 28,
 ['Coding', 'Baking', 'Learning', 'Driving', 'Problem-solving']]

### We can check whether a value is in a list or not using the in operator

In [125]:
'Coding' in bio[2]

True

In [126]:
'Accounting' in bio[2]

False

### Dictionaries
Dictionaries are unordered collection of values, stored as key-value pairs.
- `unordered`: values in a dictionary don't have a position/index like strings, lists or tuples
- `key-value pairs`: values in a dictionary are accessed using keys
- denoted by `{}`

In [64]:
# creating a dictionary
bio = {'full_name':'Puneet Kumar'
      ,'age':28
      ,'skills':['Coding', 'Baking', 'Learning', 'Driving', 'Problem-solving']}
bio

{'full_name': 'Puneet Kumar',
 'age': 28,
 'skills': ['Coding', 'Baking', 'Learning', 'Driving', 'Problem-solving']}

In [65]:
# using keys to access values
bio['full_name']

'Puneet Kumar'

In [66]:
bio['age']

28

In [67]:
# dictionaries can be modified
bio['full_name'] = 'Sachin Gupta'
bio

{'full_name': 'Sachin Gupta',
 'age': 28,
 'skills': ['Coding', 'Baking', 'Learning', 'Driving', 'Problem-solving']}

In [68]:
# we can also add new key-value pairs to a dictionary
bio.update({'gender':'male'})
bio

{'full_name': 'Sachin Gupta',
 'age': 28,
 'skills': ['Coding', 'Baking', 'Learning', 'Driving', 'Problem-solving'],
 'gender': 'male'}

In [69]:
# we can get a list of keys in a dictionary using dictionary_obj.keys()
bio.keys()

dict_keys(['full_name', 'age', 'skills', 'gender'])

In [70]:
# we can get a list of values in a dictionary using dictionary_obj.values()
bio.values()

dict_values(['Sachin Gupta', 28, ['Coding', 'Baking', 'Learning', 'Driving', 'Problem-solving'], 'male'])

In [71]:
# we can get each key-value pair as a list of tuples using dictionary_obj.items()
bio.items()

dict_items([('full_name', 'Sachin Gupta'), ('age', 28), ('skills', ['Coding', 'Baking', 'Learning', 'Driving', 'Problem-solving']), ('gender', 'male')])

1. Create a dictionary (`tech`) which has each course that you have completed at TrainingYA as keys and your rating in the technology as a decimal value as values.
2. Add this dictionary to your bio dictionary (key should be `skills`)
3. Also add your employment status to the bio dictionary (key should `employed`, should be either True or False)

In [72]:
tech = {'Alteryx':10, 'SQL':10, 'Python':7, 'Tableau':10, 'Power BI':7, 'Excel':5}
bio.update({'skills':tech})
bio.update({'employed':True})

bio

{'full_name': 'Sachin Gupta',
 'age': 28,
 'skills': {'Alteryx': 10,
  'SQL': 10,
  'Python': 7,
  'Tableau': 10,
  'Power BI': 7,
  'Excel': 5},
 'gender': 'male',
 'employed': True}

### Sets
Sets are unordered collection of values of the same data type. They cannot be modified.
- `unordered`: values in a set are unordered, they don't have a fixed position. This is why we cannot index a set
- denoted by `{}`
- cannot store duplicate values

In [73]:
ages = {23, 25, 28, 21, 23, 29, 34, 23}
ages

{21, 23, 25, 28, 29, 34}

In [74]:
ages[0]

TypeError: 'set' object is not subscriptable

In [75]:
bio

{'full_name': 'Sachin Gupta',
 'age': 28,
 'skills': {'Alteryx': 10,
  'SQL': 10,
  'Python': 7,
  'Tableau': 10,
  'Power BI': 7,
  'Excel': 5},
 'gender': 'male',
 'employed': True}

### Types of Statements
In a code, each line is called a statement. Type of a statement is basically the value we get when the statement is evaluated.

In [76]:
# mathematical or arithmetic statement
age = 28 # this is an assignment statement, because we are assigning a value to a variable
years = 10 # this is an assignment statement

In [77]:
age + years

38

#### The above statement is a mathematical statement because when the statement is evaluated, we get a numeric value.

In [78]:
age + years > 40

False

#### The above statement is a Boolean statement, because the final result is a Boolean value.

#### In Python, any statement or function/method that returns a value is a True Boolean statement. Just because a value exists, the statement automatically evaluates to `True`.

In [79]:
bio

{'full_name': 'Sachin Gupta',
 'age': 28,
 'skills': {'Alteryx': 10,
  'SQL': 10,
  'Python': 7,
  'Tableau': 10,
  'Power BI': 7,
  'Excel': 5},
 'gender': 'male',
 'employed': True}

In [80]:
print(bio)

{'full_name': 'Sachin Gupta', 'age': 28, 'skills': {'Alteryx': 10, 'SQL': 10, 'Python': 7, 'Tableau': 10, 'Power BI': 7, 'Excel': 5}, 'gender': 'male', 'employed': True}

In [81]:
type(bio)

dict

In [82]:
if print(bio):
    print('printing from inside if block')

{'full_name': 'Sachin Gupta', 'age': 28, 'skills': {'Alteryx': 10, 'SQL': 10, 'Python': 7, 'Tableau': 10, 'Power BI': 7, 'Excel': 5}, 'gender': 'male', 'employed': True}

In [83]:
if not print(bio):
    print('printing from inside if block')

{'full_name': 'Sachin Gupta', 'age': 28, 'skills': {'Alteryx': 10, 'SQL': 10, 'Python': 7, 'Tableau': 10, 'Power BI': 7, 'Excel': 5}, 'gender': 'male', 'employed': True}
printing from inside if block

In [84]:
if type(bio):
    print('printing from inside if block')

printing from inside if block

In [85]:
if not type(bio):
    print('printing from inside if block')