In [ ]:
bio = {'full_name': 'Puneet Kumar'
      ,'age': 28
      ,'skills': {'Alteryx': 10
                 ,'SQL': 10
                 ,'Python': 7
                 ,'Tableau': 10
                 ,'Power BI': 7
                 ,'Excel': 5}
      ,'gender': 'male'
      ,'employed': True}

### Conditional Statements
Conditional statements are a construct in programming which allow us to specify different code for different conditions.

In Python, the syntax for conditional statements is:
```
if condition_1:
    code if condition_1 is true
elif condition_2:
    code if condition_2 is true
...
elif condition_n:
    code if condition_n is true
else:
    default code
```

Here, `elif` and `else` are optional and need only be added as required. In case of `else`, we cannot specify a condition. If `else` is specified, it will be run in case the `if` condition fails. 

In conditional statements the condition is a Boolean expression

In [ ]:
# using only if
# let's say we want to run a part of code only if one condition is satisified
# we want to print skills from bio if the user is unemployed
if not bio['employed']:
    print(bio['skills'])

In [ ]:
# let's modify the above code so that if the user is employed,
# the program prints 'User employed'
if not bio['employed']:
    print(bio['skills'])
else:
    print('User employed.')

Let's try another `if...else` statement, this time using `elif`. We want to:
1. print `User has only one skill.` if the number of skills specified in `bio['skills']` is one
2. print `User has n skills.` if the number of skills specified is greater than 1.<br>
   Here, `n` is the number of skills user has specified. 
4. the dafault value which we want to print is `User is still learning.`

In [ ]:
if len(bio['skills']) == 1:
    print('User has one skill.')
elif len(bio['skills']) > 1:
    print(f'User has {len(bio['skills'])} skills.')
else:
    print('User is still learning.')

Let's modify this program.
1. If the user has only one skill, we want to print `Save in database.`. Then, we want to check whether this skill is either `SAS` or `Python`. If the skill is either of the two, we want to print `Shortlist for RM_20042024`.
2. If the user has more than 1 skills, we print `Save in database.` and check whether `Python`, `SQL` and `Power BI` are all in the skillset. If all the technologies are in the skillset, then we want to print `Shortlist for RM_21042024`.
3. By default, we want to print `Not shortlisted.`

In [ ]:
if len(bio['skills']) == 1:
    print('Save in database.')

    if ('SAS' == bio['skills']) or ('Python' == bio['skills']):
        print('Shortlist for RM_20042024.')

elif len(bio['skills']) > 1:
    print('Save in database.')

    if ('Python' in bio['skills']) and ('SQL' in bio['skills']) and ('Power BI' in bio['skills']):
        print('Shortlist for RM_21042024.')
else:
    print('Not shortlisted.')

In [ ]:
# let's modify this program to make it more optimized
# notice how candidate data is saved in database if they have 1 or more skills.
# inour code, we are specifying the code for printing 'Save in database.' twice.
# we can modify this program by printing 'Save in database.' only once.
if len(bio['skills']) >= 1:
    print('Save in database.')

    if ('SAS' == bio['skills']) or ('Python' == bio['skills']):
        print('Shortlist for RM_20042024.')

    elif ('Python' in bio['skills']) and ('SQL' in bio['skills']) and ('Power BI' in bio['skills']):
        print('Shortlist for RM_21042024.')
else:
    print('Not shortlisted.')

### Loops

Loop is a programming construct which allows us to repeat a code segment. This can be either for a predefined number of times or undefined number of times.

Python supports two looping constructs, `for` and `while`.
- `for` is used when we want to run a predefined number of loops
- `while` is used when we don't know how many times the loop needs to be run.

In [ ]:
full_name = 'Puneet Kumar'

In [ ]:
# let's write a program to print each character in full_name separately
for char in full_name:
    print(char)

### Let's write another program which asks the candidate for the number of skills they have, and adds those skills to a list.

In [ ]:
skills = []

num_skills = input('Enter the number of skills you have: ')

for i in range(int(num_skills)):
    skill = input(f'Enter skill No.{i+1}: ')
    skills.append(skill)

print(skills)

#### Let's modify this program to ask the candidate their
1. name
2. age
3. gender
4. serving notice period
5. number of skills
6. name of each skill

We will add each provided value into a dictionary.

In [ ]:
skills = []
bio = {}

name = input('Enter your full name: ')
bio.update({'candidate_name':name})

age = input('Enter your age: ')
bio.update({'candidate_age':float(age)})

gender = input('Enter your gender: ')
bio.update({'candidate_gender':gender})

notice_period = input('Are your serving your notice period?\n')
bio.update({'notice_period_status':notice_period})

num_skills = input('Enter the number of skills you have: ')

for i in range(int(num_skills)):
    skill = input(f'Skill No.{i+1}: ')
    skills.append(skill)

bio.update({'skills':skills})

print(bio)

### Functions for Descriptive Analysis

Let's try to create a few functions that we can use to perform summary analysis.

In [ ]:
ages = [74, 98, 55, 81, 54, 47, 94, 74, 98, 55, 81, 54, 74, 98, 55, 81, 54, 7, 94, 74, 98, 55, 81, 54, 47, 94, 25, 91, 74, 98, 
        55, 81, 54, 47, 94, 74, 98, 55, 81, 54, 47, 94, 25, 91, 82, 39, 64, 99, 96, 35, 45, 91, 81, 56, 98, 71, 28, 29, 69, 41,
        32, 42, 74, 90, 71, 78, 39, 79, 94, 74]

1. `sum_func()`

In [ ]:
# function for summation
def sum_func(values):
    total = 0
    for value in values:
        total += value

    return total

In [ ]:
# sum of ages
sum_of_ages = sum_func(ages)
sum_of_ages

2. `count_func()`
   - describes the size of our dataset. It also allows us to understand the frequency distribution of values in an attribute in our dataset.

In [ ]:
# function for counting values
def count_func(a):
    count = 0

    for value in a:
        count += 1

    return count

In [ ]:
count_of_ages = count_func(ages)
count_of_ages

3. `average_func()`
   - helps understanding the "typical" value of an attribute in a dataset. While it is simple to calculate it, it is prone to outliers which can give a misleading typical value.

In [ ]:
# function for calculating average
def average_func(a):
    return sum_func(a) / count_func(a)

In [ ]:
average_age = average_func(ages)
average_age

4. `median_func()`
   - gives us the value which is the center-most in our data. This value divides the data into two equal parts, providing a better representative value. It is also not prone to outliers.

### Bubble Sort Sorting Algorithm

Bubble sort is a sorting algorithm. It sorts values in a variable by comparing each value with other values in the variable.

For example, let's say we have a list:<br>
$\text{sales} = [11, 8, 6, 2, 4, 1]$

The algorithm would sort the above $\text{sales}$ values by comparing each individual sales value with other sales values.<br>
$\text{count of values in sales}, n = 6$<br>
<table>
    <tr>
        <td>Value</td>
        <td>11</td>
        <td>8</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Index</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
</table>

Let's breakdown the below code for bubble-sort, using the above set of values.<br>
`count_func(sales)` $= 6$<br>
$\implies$ `range(count_func(sales))` $= [0, 1, 2, 3, 4, 5]$

Now, when `i` $= 0 \implies$ `j` (`range(count_func(sales)-i-1)`; $6 - 0 - 1 = 5$) $= [0, 1, 2, 3, 4]$.
<table>
    <tr>
        <th>Iteration</td>
        <th style='background-color: red;'>0</th>
        <th style='background-color: red;'>1</th>
        <th style='background-color: red;'>2</th>
        <th style='background-color: red;'>3</th>
        <th style='background-color: red;'>4</th>
        <th style='background-color: red;'>5</th>
    </tr>
    <tr>
        <td>Original</td>
        <td>11</td>
        <td>8</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
    </tr>
    <tr>
        <td>sales[0] > sales[1]</td>
        <td>8</td>
        <td>11</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
    </tr>
    <tr>
        <td>sales[1] > sales[2]</td>
        <td>8</td>
        <td>6</td>
        <td>11</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
    </tr>
    <tr>
        <td>sales[2] > sales[3]</td>
        <td>8</td>
        <td>6</td>
        <td>2</td>
        <td>11</td>
        <td>4</td>
        <td>1</td>
    </tr>
    <tr>
        <td>sales[3] > sales[4]</td>
        <td>8</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>11</td>
        <td>1</td>
    </tr>
    <tr>
        <td>sales[4] > sales[5]</td>
        <td>8</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>11</td>
    </tr>
</table>

After all the iterations for `j` have run, the outer loop goes on to the next iteration.<br>Now, `i` $= 1 \implies$ `j` (`range(count_func(sales)-i-1)`; $6 - 1 - 1 = 4$) $= [0, 1, 2, 3]$.
<table>
    <tr>
        <th>Iteration</td>
        <th style='background-color: red;'>0</th>
        <th style='background-color: red;'>1</th>
        <th style='background-color: red;'>2</th>
        <th style='background-color: red;'>3</th>
        <th style='background-color: red;'>4</th>
        <th>5</th>
    </tr>
    <tr>
        <td>Updated in last iteration</td>
        <td>8</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[0] > sales[1]</td>
        <td>6</td>
        <td>8</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[1] > sales[2]</td>
        <td>6</td>
        <td>2</td>
        <td>8</td>
        <td>4</td>
        <td>1</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[2] > sales[3]</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>8</td>
        <td>1</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[3] > sales[4]</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>8</td>
        <td>11</td>
    </tr>
</table>

Again, after all the iterations for `j`, the algorithm proceeds with the next iteration of `i` $= 2 \implies$ `j` (`range(count_func(sales)-i-1)`; $6 - 2 - 1 = 3$) $= [0, 1, 2]$
<table>
    <tr>
        <th>Iteration</td>
        <th style='background-color: red;'>0</th>
        <th style='background-color: red;'>1</th>
        <th style='background-color: red;'>2</th>
        <th style='background-color: red;'>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <tr>
        <td>Updated in last iteration</td>
        <td>6</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>8</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[0] > sales[1]</td>
        <td>2</td>
        <td>6</td>
        <td>4</td>
        <td>1</td>
        <td>8</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[1] > sales[2]</td>
        <td>2</td>
        <td>4</td>
        <td>6</td>
        <td>1</td>
        <td>8</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[2] > sales[3]</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>6</td>
        <td>8</td>
        <td>11</td>
    </tr>
</table>

For `i`  $= 3 \implies$ `j` (`range(count_func(sales)-i-1)`; $6 - 3 - 1 = 2$) $= [0, 1]$
<table>
    <tr>
        <th>Iteration</td>
        <th style='background-color: red;'>0</th>
        <th style='background-color: red;'>1</th>
        <th style='background-color: red;'>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <tr>
        <td>Updated in last iteration</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>6</td>
        <td>8</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[0] > sales[1]</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
        <td>6</td>
        <td>8</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[1] > sales[2]</td>
        <td>2</td>
        <td>1</td>
        <td>4</td>
        <td>6</td>
        <td>8</td>
        <td>11</td>
    </tr>
</table>

For `i` $= 4 \implies$ `j` (`range(count_func(sales)-i-1)`; $6 - 4 - 1 = 1$) $= [0]$
<table>
    <tr>
        <th>Iteration</td>
        <th style='background-color: red;'>0</th>
        <th style='background-color: red;'>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <tr>
        <td>Updated in last iteration</td>
        <td>2</td>
        <td>1</td>
        <td>4</td>
        <td>6</td>
        <td>8</td>
        <td>11</td>
    </tr>
    <tr>
        <td>sales[0] > sales[1]</td>
        <td>1</td>
        <td>2</td>
        <td>4</td>
        <td>6</td>
        <td>8</td>
        <td>11</td>
    </tr>
</table>

For `i` $= 5 \implies$ `j` (`range(count_func(sales)-i-1)`; $6 - 5 - 1 = 1$) $= []$

At the end of all iterations, the values in the variable are sorted in ascending order.

In [ ]:
# function for sort
def sort_func(values, ascending=True):
    for i in range(count_func(values)):
        for j in range(count_func(values)-i-1):
            if ascending:
                if values[j] > values[j+1]:
                    values[j], values[j+1] = values[j+1], values[j]
            elif not ascending:
                if values[j] < values[j+1]:
                    values[j], values[j+1] = values[j+1], values[j]
    return values

In [ ]:
sorted_ages = sort_func(ages)
sorted_ages

In [ ]:
# function for median
def median_func(a):
    a = sort_func(a)

    i = count_func(a) // 2
    if count_func(a) % 2 != 0:
        return a[i]

    else:
        return (a[i-1] + a[i]) / 2

In [ ]:
median_age = median_func(ages)
median_age

5. `range_func()`
   - used to understand how spread the values in an attribute are. It is calculated by subtracting the smallest value in the attribute with the biggest value. This makes it prone to outliers, which can lead to wrong interpretation of the data.

In [ ]:
def range_func(values):
    return sort_func(values)[-1] - sort_func(values)[0]

6. `mode_func()`
   - find the value in the dataset which has the highest number of occurrences.
   - a dataset can be `multi-modal`: there can be more than one values which have the highest frequency.

In [ ]:
# calculating mode
def mode_func(values):
    counts = {}
    
    for value in values:
        counts.update({value:values.count(value)})

    max_frequency = sort_func(list(counts.values()))[-1]

    mode_values = []
    for key, value in counts.items():
        if value == max_frequency:
            mode_values.append(key)

    return mode_values

7. `iqr_func()`
<ul>
       <li>the range of data which comprises of 50% of the data. It does not consider outliers, which makes it a better measure to understand points in our dataset.</li>
       <li>calculated by subtracting the value of the first quartile from the value of the third quartile.</li><br>
</ul>
       a. First Quartile: divides the data into 1:3 ratio.<br>
       b. Second Quartile: divides the data into 1:1 ratio. This is equal to the median, as median also divides the dataset into two equal parts.<br>
       c. Third Quartile: divides the data into 3:1 ratio.<br>
       d. Fourth Quartile: this is the maximum value of the dataset.
       - `quartile_func()`

In [ ]:
# calculating quartile
def quartile_func(values, quartile=1):
    values = sort_func(values)
    median_index = count_func(values) // 2
    if len(values) % 2 == 0:
        if quartile == 1:
            return median_func(values[:median_index])
        elif quartile == 3:
            return median_func(values[median_index:])
    else:
        if quartile == 1:
            return median_func(values[:median_index])
        elif quartile == 3:
            return median_func(values[median_index+1:])

In [ ]:
quartile_func(ages, quartile=3)

If the dataset has an even number of observations, then the quartiles are calculated by dividing the dataset into two equal parts, then calculating the median of the two parts:

Since this data has $12$ values, we find the median of<br>
<ul>
    <li>the first $6$ values, and then</li>
    <li>the final $6$ values</li>
</ul>

Values: $[11, 11, 14, 12, 9, 13, 13, 4, 6, 8, 13, 9]$

First $6$ values: $[4, 6, 8, 9, 9, 11]$<br>
Median of these values (first quartile): $8.5$

Final $6$ values: $[11, 12, 13, 13, 13, 14]$<br>
Median of these values (third quartile): $13.0$

Now we simply subtract the median of the first set of values (first quartile) from the median of the final set of values (third quartile) to get the interquartile range:<br>
Interquartile Range (IQR): $4.5$

If the dataset has an odd number of observations, then the quartiles are calculated by finding the position of the median value, dividing the dataset into two equal parts (without the median value in both parts), then calculating the median of the two parts:<br>
Values: $[12, 6, 7, 10, 12, 10, 4, 7, 13]$

Since this data has $9$ values, we find the position of the median value 

Median: $10$

Position of the median: $5$<br>
First $4$ values: $[4, 6, 7, 7]$<br>
Median of these values (first quartile): $6.5$

Final $4$ values: $[10, 12, 12, 13]$<br>
Median of these values (third quartile): $12.0$

Now we simply subtract the median of the first set of values (first quartile) from the median of the final set of values (third quartile) to get the interquartile range:<br>
Interquartile Range (IQR): $5.5$

In [ ]:
def iqr_func(values):
    return quartile_func(values, quartile=3) - quartile_func(values)

In [ ]:
# even number of observations
list_var = [5, 7, 2, 1, 9, 6, 4, 3, 0, 8, 77, -89, 150, -190]
print(f'First Quartile: {quartile_func(list_var, 1)}\nThird Quartile: {quartile_func(list_var, 3)}')

# odd number of observations
list_var_2 = [5, 7, 2, 1, 9, 6, 4, 77, -89, 150, -190]
print(f'First Quartile: {quartile_func(list_var_2, 1)}\nThird Quartile: {quartile_func(list_var_2, 3)}')

8. `standard_deviation_func()`
    - `variance_func()`: computes the square of difference between the mean and individual data points in the dataset. This represents the scatter or spread of data points from the center of the data.
    - since variance is computed in `square` it is not easily interpretable; for example, if we calculate the variance of `Sales` (in dollars), the value would come out in dollars squared - we compute the `square-root` of variance instead.
    - `Standard deviation` is simply the square-root of variance. It is an easily interpreted measure of dispersion of data from the central point of the data.

In [ ]:
# variance + standard deviation
list_var = [5, 7, 2, 1, 9, 6, 4, 3, 0, 8, 77, -89, 150, -190]

def variance_func(values):
    x_xbar = 0
    
    for i in values:
        x_xbar += (i - average_func(values)) ** 2
        
    return x_xbar / (count_func(values) - 1)

variance_func(list_var)

def standard_deviation_func(values):
    return variance_func(values) ** 0.5

standard_deviation_func(list_var)

### Final Note: Quantiles
Quantiles are values which divide the dataset into `n` equal parts. Commonly used quantiles (in order of usage) are:
1. `Median`: divides the dataset into 2 equal parts
2. `Quartiles`: divides the dataset into 4 equal parts
3. `Percentiles`: divides the dataset into 100 equal parts
4. `Deciles`: divide the dataset into 10 equal parts


#### Relation of Quantiles to Each Other:

| Measure A | Measure B |
| --- | --- |
| Median | 2nd Quartile |
| Median | 50th Percentile |
| Median | 5th Decile |
| 1st Quartile | 25th Percentile |
| 2nd Quartile | 50th Percentile |
| 2nd Quartile | 5th Decile |
| 3rd Quartile | 75th Percentile |
| nth Decile | (n * 10)h Percentile |



For verification: [Calculator](https://www.calculatorsoup.com/calculators/statistics/mean-median-mode.php)

In [ ]:
full_name = "Sean O'Connor"
full_name = 'Sean O\'Connor'
print('My name is Puneet Kumar. I am 28 years old.')

### Escape Sequence
These are a sequence of characters in Python, starting with for backslash `\`. These allow adding special, non-alphabetical characters to string literals.

| Escape Sequence | Meaning |
| --- | --- |
| `\\` | ignore the backslash in this string literal |
| `\'` | ignore apostrophe |
| `\"` | ignore double-quotes |
| `\n` | new-line character; add a new line in the string literal |

### Installing required libraries

In [ ]:
# ONLY NEEDS TO BE RUN ONCE
!pip install pandas numpy xlrd openpyxl xgboost scikit-learn matplotlib --upgrade --quiet --user